{{#with movie}}
<section id="details-page">
    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>{{title}}</h1>
                <div class="card-movie">
                    <div class="first-info">
                        <p class="card-genre">Genre: {{genre}}</p>
                        <p class="card-director">Directror: {{director}}</p>
                    </div>
                    <div class="second-info">
                        <p class="card-year">Year: {{year}}</p>
                        <p class="card-ranking">Rating: <span id="stars"> {{{stars rating}}} </span></p>
                    </div>

                </div>

                <p class="disc">Description: {{description}}</p><br>

                <a style="padding: 0.8em; 
                          display: inline-block;
                          font-size: 1.2em; 
                          font-family: Roboto, sans-serif; 
                          font-weight: 400; 
                          letter-spacing: 1.2px; 
                          margin-left: 0;
                          text-align: center;
                          cursor: pointer;
                          width: 100%" class="details" href="/movies/{{_id}}/attach">
                    Attach Cast
                </a>
            </div>
            <div class="details-btn" style="margin: 0; 
                                            text-align: center; 
                                            display: grid ; 
                                            grid-auto-flow: column; 
                                            gap: 2em;
                                            width: 96%; 
                                            padding: 0 50px 50px;">
                                            
                <a href="/movies/{{_id}}/edit" id="edit-button" type="button" style="border: none; 
                                                              border-radius: 8px;
                                                              margin: 0;
                                                              padding: 0.8em; 
                                                              font-size: 1.2em; 
                                                              font-family: Roboto, sans-serif; 
                                                              font-weight: 400; 
                                                              letter-spacing: 1.2px;">Edit</a>
                                                              
                <a href="/movies/delete" id="delete-button" type="button" style="border: none; 
                                                              border-radius: 8px;
                                                              margin: 0;
                                                              padding: 0.8em; 
                                                              font-size: 1.2em; 
                                                              font-family: Roboto, sans-serif; 
                                                              font-weight: 400; 
                                                              letter-spacing: 1.2px;">Delete</a>

            </div>
        </div>
        <div class="card_right">
            <img src="{{img}}" alt="{{tittle}}">
        </div>
        {{/with}}
    </div>
    <div class="main-cast-card">
        {{#each movie.casts}}
        {{>cast-card}}
        {{/each}}
    </div>
</section>